
#question1, #question2, #question3, #question4, #question5, #question6{
    width:100%
}

.quizCard{
    text-align:center
}

body{
    background-color: gray;
}

.questionCard{
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height:300px;
    width:800px;
    background-color: rgb(168, 168, 168);
    border-radius: 20px;
    text-align: center;
    display:flex;
    justify-content: center;
}

@media only screen and (max-width: 768px){
    .questionCard{
        width: auto;
    }
}